:root {
    --white: 245, 245, 245;
    --maintransition: all 0.3s linear;
}


textarea {
    min-height: 400px;
}


.sidebar {
    height: 100vh;
}

.comfortaa {
    font-family: comfortaa, sans-serif;
}

.content,
.nav-link:hover,
.nav-link.active {
    background-color: rgba(var(--white), 0.85) !important;
}

.nav-link:hover,
.nav-link.active {
    color: black!important;
}

textarea:focus,
input:focus {
    border-color: rgba(20, 20, 2, 0.1)!important;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    box-shadow: 0 1px 1px rgba(20, 20, 2, 0.075) inset, 0 0 4px rgba(20, 20, 2, 0.2)!important;
    outline: none!important;
    transition: var(--maintransition);
}