:root {
    --white: 245, 245, 245;
    --maintransition: all 0.3s linear;
}

textarea {
    min-height: 400px;
}

.sidebar {
    height: 100vh;
}

.comfortaa {
    font-family: comfortaa, sans-serif;
}

.content {
    background-color: white !important;
    /* background-color: rgba(var(--white), 0.85) !important; */
}

.read,
.nav-link:hover,
.nav-link.active {
    background-color: rgba(var(--white), 0.85) !important;
}

.nav-link:hover,
.nav-link.active {
    color: black!important;
}

textarea:focus,
input:focus,
tr:hover {
    border-color: rgba(20, 20, 2, 0.1)!important;
    box-shadow: rgba(14, 30, 37, 0.05) 0px 2px 4px 0px, rgba(14, 30, 37, 0.2) 0px 2px 16px 0px!important;
    outline: none!important;
    transition: var(--maintransition);
}

.table {
    table-layout: fixed;
}