{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<div class="row">
    <!-- SIDEBAR -->
    <div class="px-4 pt-5 col-lg-3">

        <!-- Title -->
        <a href="/" class="comfortaa d-flex align-items-center link-body-emphasis text-decoration-none">
            <i class="fs-2 me-2 bi bi-mailbox"></i>
            <span class="fs-2">mail</span>
        </a>
        <hr>
        <!-- Compose button -->
        <div class="d-grid gap-2">
            <button class="btn btn-danger" id="compose">
                <i class="me-2 bi bi-pencil-square"></i>
                Compose
            </button>
        </div>
        <hr>
        <!-- Mailboxes -->
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="#" id="inbox" class="nav-link link-body-emphasis active" aria-current="page">
                    <i class="me-2 bi bi-envelope"></i>
                    Inbox
                </a>
            </li>
            <li>
                <a href="#" id="sent" class="nav-link link-body-emphasis">
                    <i class="me-2 bi bi-send-check"></i>
                    Sent
                </a>
            </li>
            <li>
                <a href="#" id="archived" class="nav-link link-body-emphasis">
                    <i class="me-2 bi bi-archive"></i>
                    Archived
                </a>
            </li>
        </ul>
        <hr>
        <!-- Account -->
        <ul class="list-unstyled ps-0">
            <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="false">
                    <!-- <i class="me-2 bi bi-chevron-compact-right"></i> -->
                    <i class="me-2 bi bi-box-arrow-right"></i>
                    <strong>{{ request.user.email }}</strong>
                </button>
                <div  id="dashboard-collapse" class="collapse ms-3">
                    <ul class="btn-toggle-nav list-unstyled fw-normal ms-3">
                        <li><a href="{% url 'logout' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded ms-1">Log Out</a></li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>

    <!-- CONTENT -->
    <div class="px-4 py-5 col-lg-9">

        <!-- Mailboxes -->
        <div id="emails-view">
            
        </div>
        
        <!-- Compose mail -->
        <div id="compose-view">
            <h3 class="comfortaa px-3 d-inline-block">New Email</h3>
            <div class="content-compose rounded px-3 py-4">
                <form id="compose-form">
                    <div class="mb-3">
                        From: <input disabled class="form-control form-control-sm" value="{{ request.user.email }}">
                    </div>
                    <div class="mb-3">
                        To: <input id="compose-recipients" class="form-control form-control-sm">
                    </div>
                    <div class="mb-3">
                        <input class="form-control form-control-sm" id="compose-subject" placeholder="Subject">
                    </div>
                    <textarea class="mb-3 form-control form-control-sm" id="compose-body" placeholder="Body" rows="6"></textarea>
                    <button type="submit" class="px-5 btn btn-danger" id="send">
                        <i class="bi bi-send me-1"></i>
                        Send
                    </button>
                    <span class="ms-3 small text-danger" id="errormessage"></span>
                </form>
            </div>
        </div>

        <!-- Single email -->
        <div id="email-view">
            <!-- <div style="background-color:red;">single email view</div> -->
            <!-- static/mail/inbox.js -->
        </div>

    </div>
</div>

{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}